<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Fonts (Include your font links here) -->

    <!-- CSS -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/header.css') }}"
    />

    <title>Employee Console</title>
  </head>

  <body>
    <!-- Header Section -->
    <header class="header">
      <!-- Left Section -->
      <div class="left-section">
        <img
          class="PAH-logo"
          src="{{ url_for('get_image', image_name='logo.jpg') }}"
          alt="PAH Logo"
        />
        <p id="logo-title">Paws and Hearts</p>
      </div>

      <!-- Middle Section -->
      <div class="middle-section"></div>

      <!-- Right section -->
      <div class="right-section"></div>
    </header>

    <!-- Main Section -->
    <main>
      <h1>Employee Console</h1>

      <!-- Animal Search -->
      <h2>Display All Animal In Shelter</h2>
      <form
        action="{{ url_for('displayAllAnimal') }}"
        id="displayAllAnimal"
        method="post"
      >
        <label for="employeeID">Employee ID:</label>
        <input
          type="number"
          id="employeeID"
          name="employeeID"
          placeholder="Enter employee ID"
          min="1"
          required
        />
        <br />
        <br />
        <button type="submit">Search</button>
      </form>

      <br />
      <br />

      <!-- Animal Search -->
      <h2>Animal Search</h2>
      <form
        action="{{ url_for('searchAnimalMedicalRecord') }}"
        id="searchAnimalMedicalRecord"
        method="post"
      >
        <label for="animalID">Animal ID:</label>
        <input
          type="number"
          id="animalID"
          name="animalID"
          placeholder="Enter animal ID"
          min="1"
        />

        <br />
        <br />
        <button type="submit">Search</button>
      </form>

      <br />
      <br />

      <!-- Adopter Search -->
      <h2>Adopter Search</h2>
      <form
        action="{{ url_for('searchAdopter') }}"
        id="searchAdopterForm"
        method="post"
      >
        <label for="adopterID">Adopter ID:</label>
        <input
          type="number"
          id="adopterID"
          name="adopterID"
          placeholder="Enter adopter ID"
          min="1"
        />

        <br />
        <br />
        <button type="submit">Search</button>
      </form>
    </main>

    <!-- Back Button Section -->
    <br />
    <br />
    <br />
    <br />
    <div class="back-button">
      <a class="button" href="{{ url_for('index') }}">Back</a>
    </div>
  </body>
</html>
