<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Fonts (Include your font links here) -->

    <!-- CSS -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/header.css') }}"
    />

    <title>Shelter Insert</title>
  </head>

  <body>
    <header class="header">
      <!-- Left Section-->
      <div class="left-section">
        <img
          class="PAH-logo"
          src="{{ url_for('get_image', image_name='logo.jpg') }}"
          alt="PAH Logo"
        />

        <p id="logo-title">Paws and Hearts</p>
      </div>

      <!-- Middle Section -->
      <div class="middle-section">
        <!-- Add content if needed -->
      </div>

      <!-- Right section -->
      <div class="right-section">
        <!-- Add content if needed -->
      </div>
    </header>

    <main>
      <h1>Insert Shelter</h1>
      <form
        action="{{ url_for('addShelter') }}"
        method="post"
        id="shelterInsertForm"
      >
        <label for="shelterName">Name:</label>
        <input
          type="text"
          id="shelterName"
          name="shelterName"
          placeholder="Enter shelter name"
          required
        />

        <label for="shelterLocation">Location:</label>
        <input
          type="text"
          id="shelterLocation"
          name="shelterLocation"
          placeholder="Enter shelter location"
          required
        />

        <button type="submit">Insert Shelter</button>
      </form>
    </main>
    <br />
    <br />
    <div class="back-button">
      <a class="button" href="{{ url_for('admin_page') }}">Back</a>
    </div>
  </body>
</html>
